<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="OktaUrl" value="https://[your_organization].okta.com"/>
    <add key="OktaApiKey" value="[Your Okta API Token]"/>
    <!-- Local file name (with CSV extension) to be generated in the local folder -->
    <add key="OutputFileName" value="OktaUsers.csv"/>
  </appSettings>
</configuration>